@import url(hero.css);
@import url(header.css);
@import url(card.css);
@import url(main.css);
@import url(layout.css);
@import url(footer.css);

main {
    margin-top: 800px;
    margin-left: 3em;
}

main > section {
    display: flex;
    gap: 20px;
}