/*exempel på hur import fungerar*/
@import url(typography.css);
@import url(card.css);
@import url(movies.css);
/* HERO */

.hero {
    background-image: linear-gradient(to top, black, transparent), url("../assets/hero.jpg");
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.hero > h2 {
    font-size: 60px;
    margin-bottom: 10px;
}
.hero > .hero-meta > * {
    margin-right: 10px;
}

.hero > .hero-meta > .movie-match {
    color: hsl(120, 100%, 55%);
}

.hero > .hero-meta > .movie-age-rating {
    color: hsl(0, 0%, 65%);
    border: 1px solid hsl(0, 0%, 65%);
    padding: 2px 8px;
}

.hero > .hero-btns {
    display: flex;
    gap: 20px;
}

.hero > .hero-btns > button {
    font-size: large;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.hero > .hero-btns > button > svg {
    scale: 1;
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.hero > .hero-btns > button:first-child {
    background-color: white;
    border: none;
    border-radius: 5px;
}

.hero > .hero-btns > button:first-child:hover {
    background-color: hsl(0, 0%, 70%);
}

.hero > .hero-btns > button:last-child {
    background-color: #3e414e;
    color: white;
    border: none;
    border-radius: 5px;
}

.hero > .hero-btns > button:last-child:hover {
    background-color: hsl(229, 11%, 27%, 0.7);
}

/* MAIN */

main {
    margin-top: 800px;
}

main > section {
    display: flex;
    gap: 20px;
}