body {
    color: gray;
}

.profile-image > p {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

h1,
h2 {
    color: white;
    margin-bottom: 10px;
}

h3 {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

a {
    color: gray;
}

a:hover {
    color: white;
}

p {
    margin-top: 2px;
}

svg {
    vertical-align: middle;
}

.user-container {
    display: flex;
}

.profile-image {
    background-color: red;
    height: 75px;
    width: 75px;
    border-radius: 40px;
    margin-left: 50px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 25px;
}

.stats-container {
    margin-left: 150px;
    display: flex;
    gap: 15px;
}

/*.stats-container > div {
    max-width: 90px;
}*/

.stats-container > div > p {
    font-size: 14px;
    color: white;
}

.genre-header {
    margin-left: 150px;
}

.genre-container {
    margin-left: 150px;
    display: flex;
    gap: 8px;
}

.genre-container > p {
    padding: 6px 8px 6px 8px;
    background-color: rgba(255, 0, 0, 0.25);
    color: red;
    font-size: 14px;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 50px;
    overflow-x: hidden;
}

.favorites-header,
.list-header {
    margin-left: 50px;
}

.card {
    position: relative;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease;
}

.card:hover::after {
    background-color: rgba(0, 0, 0, 0.7);
}

.card > .heart-svg {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 100;
    color: red;
}

.card > div {
    visibility: hidden;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover > div {
    visibility: visible;
}

.card > div a:hover svg {
  filter: brightness(0.75);
}

.card-wrapper > p {
    padding-top: 8px;
    margin: 0;
}

.card-wrapper > .movie-title {
    font-weight: bold;
    color: white;
}

.card-wrapper > .movie-info {
    font-size: small;
}
