body {
    color: gray;
}

h1,
h2 {
    color: white;
    margin-bottom: 2px;
}

h3 {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;

}

p {
    margin-top: 2px;
}

svg {
    vertical-align: middle;
}

.user-container {
    display: flex;
}

.profile-image {
    background-color: red;
    height: 75px;
    width: 75px;
    border-radius: 40px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 25px;
}

.stats-container {
    display: flex;
    gap: 8px;
}

.stats-container > div {
    max-width: 100px;
}

.stats-container > div > p {
    font-size: 16px;
    color: white;
}

.genre-container {
    display: flex;
    gap: 8px;
}

.genre-container > p {
    padding: 6px 8px 6px 8px;
    background-color: rgba(255, 0, 0, 0.25);
    color: red;
    border-radius: 16px;
}

.temporary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card > svg {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 100;
    color: red;
}